/*

Sass file for Body-Sys. 
Created By: Base2101
Created On: 5/14/2016

*/

$lBlue: #CAE0FF;
$dBlue: #8FAEFF; 

$black: #292929;
$lwhite: #595959;
* {
    margin: 0px;
    padding: 0px;
}

html {
	font-family: $helvetica;
}

body {
	background-color: #efefef;
}

#main_title {
	float: left;
	@include padding(null null null  null);
	font-size: 30px;
	color: white;
}

header {
	@include background(linear-gradient($lwhite, $black) left);
	@include size(100% 15%);
	@include padding(2.5%);
	border-bottom-style: solid;
	@include border-width(null null 1% null);
	display: inline-block;
	@include position(fixed, 0px null 0px null);
	@include clearfix;
}

.button-group {
	float: right;
	overflow: auto
}

#content{
	@include margin(12% null null null);
}

footer {
	@include background(linear-gradient($lwhite, $black) left);
	@include size(100% 10%);
	display: inline-block;
	@include position(fixed, 90% null 90% null);
	@include clearfix;
}

#att {
text-align: center;
@include padding(2% null null null);
color: white;
}
