/*

Sass file for Body-Sys. 
Created By: Base2101
Created On: 5/14/2016

*/

$lBlue: #CAE0FF;
$dBlue: #8FAEFF; 

* {
    margin: 0px;
    padding: 0px;
}

html {
	font-family: $helvetica;
}

body {
	background-color: #efefef;
}

#main_title {
	float: left;
	@include padding(null 1% 1% null);
	font-size: 30px;
}

header {
	@include background(linear-gradient($lBlue, $dBlue) left);
	@include size(100% 10%);
	@include padding(1.5% null null 1.5%);
	@include margin(null null 3% null);
	border-bottom-style: solid;
	@include border-width(null null 1% null);
}

.button-group {
	float: right;
	@include padding(null 20% 1% null);
}

footer {
		
}
